layout {
  default-column-width { proportion 0.5; }
  always-center-single-column
}

window-rule {
  match app-id="^(dev.zed.Zed)$"
  default-column-width { proportion 0.6667; }
  background-effect {
    blur true
  }
}

window-rule {
  match app-id="^(Alacritty.*)$"
  default-column-width { proportion 0.333; }
  background-effect { blur true; }
}

binds {
  Mod+Space hotkey-overlay-title="Open App Launcher: noctalia launcher" {
    spawn-sh "qs -c noctalia-shell ipc call launcher toggle";
  }
  Mod+d hotkey-overlay-title="Open App Launcher: fuzzel" {
    spawn "fuzzel";
  }

  Mod+R                                 { switch-preset-column-width; }

  Mod+Shift+Left                        { move-column-left; }
  Mod+Shift+H                           { move-column-left; }
  Mod+Shift+Right                       { move-column-right; }
  Mod+Shift+L                           { move-column-right; }
  Mod+Shift+UP                          { move-window-up; }
  Mod+Shift+K                           { move-window-up; }
  Mod+Shift+Down                        { move-window-down; }
  Mod+Shift+J                           { move-window-down; }

  Mod+ALT+Left                          { focus-monitor-left; }
  Mod+ALT+Right                         { focus-monitor-right; }
  Mod+ALT+UP                            { focus-monitor-up; }
  Mod+ALT+Down                          { focus-monitor-down; }

  Mod+ALT+CTRL+Left                     { move-column-to-monitor-left; }
  Mod+ALT+CTRL+Right                    { move-column-to-monitor-right; }
  Mod+ALT+CTRL+UP                       { move-column-to-monitor-up; }
  Mod+ALT+CTRL+Down                     { move-column-to-monitor-down; }

  Mod+Shift+1                           { move-column-to-workspace 1; }
  Mod+Shift+2                           { move-column-to-workspace 2; }
  Mod+Shift+3                           { move-column-to-workspace 3; }
  Mod+Shift+4                           { move-column-to-workspace 4; }
  Mod+Shift+5                           { move-column-to-workspace 5; }
  Mod+Shift+6                           { move-column-to-workspace 6; }
  Mod+Shift+7                           { move-column-to-workspace 7; }
  Mod+Shift+8                           { move-column-to-workspace 8; }
  Mod+Shift+9                           { move-column-to-workspace 9; }
}

input {
  keyboard {
    xkb {
      layout "us"
      options "ctrl:nocaps"
    }
    numlock
  }
  // focus-follows-mouse
  workspace-auto-back-and-forth
}

// output "HDMI-A-1" {
//     mode "3840x2160@60" // Set resolution and refresh rate
//     scale 1.66
// }
